<!-- FOOTER MENU -->


    <ul class="nav nav-pills mt-2 w-100">
      <li class="nav-item my-2">
        <a [routerLink]="['/']" class="nav-link link-dark"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-speedometer2"></i>
        </a>
      </li>
      <li class="nav-item my-2">
        <a [routerLink]="['/usuarios']" class="nav-link link-dark"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-person-circle"></i>
        </a>
      </li>
      <li class="nav-item my-2">
        <a [routerLink]="['/proyectos']" class="nav-link link-dark" class="nav-link link-dark"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-grid"></i>
        </a>

      <li class="nav-item my-2">
        <a [routerLink]="['/pruebas']" class="nav-link link-dark"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-flask"></i>
        </a>
      </li>
      <li class="nav-item my-2">
        <a [routerLink]="['/estadisticas']" class="nav-link link-dark"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="bi bi-graph-up"></i>
        </a>
      </li>
    </ul>
